@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(17, 27, 31);
        --font-color: rgb(238, 250, 255);
        --background-color2: rgb(23, 57, 71);
        --background-color3: var(--background-color);
        --background-color4: rgb(59, 92, 106);
        --slider-background-color: rgb(80, 203, 255);
        --slider-background-color2: rgb(185, 230, 249);
        --slider-color: rgb(17, 27, 31);
        --slider-color2: rgb(50, 55, 56);
        --scrollbar-color: rgb(59, 92, 106) rgb(17, 27, 31);
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --background-color: rgb(238, 250, 255);
        --font-color: rgb(29, 48, 55);
        --background-color2: rgb(206 240 255);
        --background-color3: var(--background-color);
        --background-color4: rgb(121 215 255);
        --slider-background-color: rgb(0 59 82);
        --slider-background-color2: rgb(163 163 163);
        --slider-color: rgb(246 252 255);
        --slider-color2: rgb(50, 55, 56);
        --scrollbar-color: rgb(0 59 82) rgb(246 252 255);
    }
}